{% extends "base.html" %}
{% block content %}

<script src="{{url_for('static', filename = 'js/Stopwatch.js')}}"></script>

モバイル端末では動作しないかもしれません<br>
WASDキーか矢印ボタンでメインエンジンを移動

<br>

<input id="start" type="button" value="スタート">
<input id="reset" type="button" value="リセット">
<input id="save" type="button" value="保存">

<br>
<br>

<input type="button" style="width:20px;height:20px;visibility:hidden;">
<input id="arrow-up" type="button" style="width:20px;height:20px"
value="↑">
<input type="button" style="width:20px;height:20px;visibility:hidden;">
<br>
<input id="arrow-left" type="button" style="width:20px;height:20px"
value="←">
<input type="button" style="width:20px;height:20px;visibility:hidden;">
<input id="arrow-right" type="button" style="width:20px;height:20px"
value="→">
<br>
<input type="button" style="width:20px;height:20px;visibility:hidden;">
<input id="arrow-down" type="button" style="width:20px;height:20px"
value="↓">
<input type="button" style="width:20px;height:20px;visibility:hidden;">
<br>

<br>
<br>

<canvas id="canvas" width="396" height="288"></canvas>

<script src="{{url_for('static', filename = 'js/30parts-puzzle.js')}}"></script>
<script>
const canvas = document.getElementById("canvas");
$(() => {
    start(canvas, "{{url_for('static', filename = 'images/ship-parts')}}");
});
</script>

{% endblock %}