{% extends "base.html" %}
{% block content %}

<script src="{{url_for('static', filename = 'js/Matrix.js')}}"></script>

<input id="break" type="button" value="割る">
<input id="reset" type="button" value="リセット">
<input id="save" type="button" value="保存">
<br>
<br>
<canvas id="canvas" width="600" height="480"></canvas>

<script src="{{url_for('static', filename = 'js/egg-lottery.js')}}"></script>
<script>
const canvas = document.getElementById("canvas");
$(() => start(canvas, "{{url_for('static', filename = 'images')}}/"));
</script>

{% endblock %}