{% extends "base.html" %}
{% block content %}

<style>
.mergin2 li ul {
    margin: 0 0 0 2em;
    padding: 0;
}
</style>

Pは作業しているピクミンの数を、Tは作業を終えるまでの時間を示しています。
floorは小数点以下切り捨てです。

<br><br>

<ul class="mergin2">
    <li>
    遭難地点
    <ul>
        <li>壁：T = 1843 / P + 2.8</li>
    </ul>
    </li>
    <li>
    希望の森
    <ul>
        <li>拠点付近の壁：T = 1196 / P + 8</li>
        <li>黄オニヨン前の壁：T = 1936 / P + 8.6</li>
        <li>サジタリウスの橋(手前)：T = 6.76 * floor(240 / P) + 13.3</li>
        <li>サジタリウスの橋(奥)：T = 16.9 * floor(240 / P) + 33.2</li>
        <li>黒壁(2つとも)：T = 5200 / P + 28.5 (備考：最大で10秒程度の誤差が出る)</li>
        <li>水中の壁：T = 1535 / P + 12.7</li>
    </ul>
    </li>
    <li>
    樹海のヘソ
    <ul>
        <li>最寄りの壁：T = 2411 / P + 10.8</li>
        <li>リブラ方面の壁：T = 4600 / P + 38 (備考：最大で10秒程度の誤差が出る)</li>
        <li>サテライト方面の壁：T = 4798 / P + 18.3</li>
        <li>スロープ(4つ全て)：T = 6.76 * floor(240 / P) + 13.3</li>
        <li>リブラの橋：T = 16.9 * floor(240 / P) + 33.2</li>
    </ul>
    </li>
    <li>
    大水源
    <ul>
        <li>マッサージマシンの橋：T = 16.9 * floor(240 / P) + 33.2</li>
        <li>グルーオンドライブの橋(手前)：T = 6.76 * floor(240 / P) + 13.3</li>
        <li>グルーオンドライブの橋(奥)：T = 16.9 * floor(240 / P) + 33.2</li>
        <li>スロープ：T = 6.76 * floor(240 / P) + 13.3</li>
        <li>バウスプリットの壁：T = 2583 / P + 14.4</li>
        <li>黒壁：T = 4673 / P + 37.6 (備考：最大で10秒程度の誤差が出る)</li>
        <li>水中の壁：T = 2433 / P + 1.7</li>
    </ul>
    </li>
    <li>
    最後の試練
    <ul>
        <li>橋(2つとも)：T = 16.9 * floor(120 / P) + 32.8</li>
        <li>壁(手前)：T = 334 / P + 2.5</li>
        <li>壁(奥)：T = 377 / P + 4.3</li>
    </ul>
    </li>
</ul>

{% endblock %}